<!-- Page content -->
<div class="container mt-5">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae neque non risus ullamcorper aliquam.</p>
    <p>Sed et purus sit amet sem tincidunt feugiat eu eu lacus. Donec lacinia erat eget eleifend tincidunt. Suspendisse
        potenti. Nullam auctor finibus dui, non scelerisque mi aliquet ac. Vivamus eleifend, sem nec iaculis viverra,
        velit quam aliquam elit, et bibendum neque massa eget erat. Fusce congue dui in nulla congue feugiat.</p>
    <p>Vestibulum aliquet erat id diam ultricies, eget iaculis risus maximus. Nulla bibendum malesuada nunc, ut luctus
        ligula elementum sed. Curabitur consequat odio id odio elementum facilisis. Duis et placerat lacus, non semper
        ligula. Etiam malesuada ex nisl, id interdum felis cursus eu. In dapibus arcu a elit tempor, eget ullamcorper
        elit posuere.</p>
</div>