<!-- Page content -->
  <div class="container">
    <h1>No Result Found</h1>
    <p>We couldn't find any results related to <b>{{query}}</b>.</p>
    <a href="/" class="btn btn-primary">Go Back</a>
  </div>